<!DOCTYPE html>
<html ng-app>
<head>
  <title>Bookworm</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<form>
<input type="text" ng-model="newEntry.name" />
</form>
{{newEntry.name}}
</body>
</html>
